body { text-align:center;  }
body:before{ margin:0; content: ""; position: fixed; z-index: -1; top: 0; left: 0; right: 0; bottom: 0;background: url(../bests/bg.jpg) center 0 no-repeat;FONT-FAMILY: "微软雅黑"; font-size:14px;} 

a { text-decoration:none;}
p { margin:0px; padding:0px; list-style-type:none;}
ul { margin:0px; padding:0px; list-style-type:none;}
ol { margin:0px; padding:0px; list-style-type:none;}
li { margin:0px; padding:0px; list-style-type:none;}
h1 { margin:0px; padding:0px; list-style-type:none;}
h2 { margin:0px; padding:0px; list-style-type:none;}
h3 { margin:0px; padding:0px; list-style-type:none;}
.main { width:960px; margin:auto; OVERFLOW: hidden;}

/* ad */
.ad-a1 { margin-top:10px; width:960px; height:auto;}
.ad-a2 { margin-top:1px; width:960px; height:auto;}
.ad-a3 { margin-top:10px; width:960px; height:auto;}

.ad-c1 { margin-top:10px; width:960px; height:auto;}
.ad-c1-s { margin-top:1px; width:960px; height:auto;}
.ad-c2 { margin-top:10px; width:728px; height:auto;}
.ad-c3 { margin-top:1px; width:728px; height:auto;}
.ad-c4 { margin-top:20px; width:728px; height:auto;}


.ad-b1 { margin-top:10px; width:960px; height:auto;}
.ad-b1-s { margin-top:1px; width:960px; height:auto;}
.ad-b2 { margin-top:10px; margin-left:20px; margin-right:20px; margin-bottom:10px;}
.ad-b3 { margin-top:10px; margin-left:20px; margin-right:20px; margin-bottom:10px;}

.ad-d1 { margin-top:10px; width:960px; height:90px;}

/* k_head */
.k_head { } 
.k_head-1 { width:960px; height:90px; margin:auto; OVERFLOW: hidden;}
.k_head-1a { float:left; width:200px; height:90px; background-image:url(logo.png);}
.k_head-1a a { float:left; width:200px; height:90px;}
.k_head-1b { float:left; padding-left:350px; width:410px; height:90px; text-align:left;}
.k_head-1b-hot { margin-top:10px; width:400px; color:#ff9900; height:30px; line-height:30px; OVERFLOW: hidden; TEXT-OVERFLOW: ellipsis;}
.k_head-1b-hot a { margin-right:10px; color:#999; text-decoration:underline;}
.k_head-1b-hot a:hover { color:#f7147f; text-decoration:none;}
.k_head-1b-inp { width:400px; height:32px; background-image:url(inp-sch.gif);}
.k_head-1b-inp ul { width:100%;}
.k_head-1b-inp li { float:left;}
.head-1b-inp1 { width:360px; height:32px; }
.head-1b-inp1-a { padding-left:5px; width:355px; height:28px; line-height:28px; font-size:14px; color:#999; FONT-FAMILY: "微软雅黑"; background-color:transparent; border:0px; }
.head-1b-inp2 { width:40px; height:32px;}
.head-1b-inp2-a { width:40px; height:32px; background-color:transparent; border:0px; cursor:pointer;}
.k_head-2 { margin:auto; width:960px; height:45px; line-height:45px; background-color:#2980B9; background-image:url(dhan.gif); background-repeat:no-repeat;box-shadow:1px 1px 10px #333;}
.k_head-2a { width:940px; padding-left:10px; padding-right:10px;}
.k_head-2a ul{ width:100%;}
.k_head-2a li { float:left;}
.head-2a-list { text-align:center;}
.head-2a-list a { float:left; padding-left:14px; padding-right:14px; height:45px; line-height:45px; font-size:15px; color:#fff; OVERFLOW: hidden;}
.head-2a-list a:hover { background-color:#3498DB; color:#fff;}
.head-2a-list-b { text-align:center;}
.head-2a-list-b a { float:left; padding-left:14px; padding-right:14px; height:45px; line-height:45px; font-size:15px; color:#fff; background-color:#3498DB; OVERFLOW: hidden;}
.head-2a-list-b a:hover { background-color:#3498DB; color:#fff;}
.head-2a-list-l { border-left:#666 1px solid; margin-left:10px; width:17px; height:15px; margin-top:15px;}
.head-2a-list-l2 { width:12px; height:45px;}
.head-2a-list-s { text-align:center;}
.head-2a-list-s a { float:left; padding-left:7px; padding-right:7px; height:45px; line-height:45px; font-size:13px; color:#999; OVERFLOW: hidden;}
.head-2a-list-s a:hover { color:#ccc; text-decoration:underline;}

/* k_headp */
.k_headp { width:100%; height:45px; background-color:#1c1c1c;}
.k_headp-1 { width:960px; height:45px; margin:auto; OVERFLOW: hidden;}
.k_headp-1 ul { width:100%;}
.k_headp-1 li { float:left;}
.headp-1-logo { width:130px; height:45px; background-image:url(logo-p.gif);}
.headp-1-logo a { float:left; width:130px; height:45px;}
.headp-1-l { border-left:#666 1px solid; margin-left:10px; width:10px; height:15px; margin-top:15px;}
.headp-1-inp { margin-left:215px; width:200px; height:45px; background-image:url(inp-schp.gif); background-repeat:no-repeat; background-position: 0px 9px;}
#headp-1-inp1 { width:200px;}
.headp-1-inp1 ul { widows:100%;}
.headp-1-inp1 li { float:left;}
.headp-1-inp2 { width:170px; padding-top:10px; height:35px;}
.headp-1-inp2-a { padding-left:5px; width:165px; height:22px; line-height:22px; font-size:14px; color:#999; FONT-FAMILY: "微软雅黑"; background-color:transparent; border:0px; }
.headp-1-inp3 { width:30px; padding-top:10px; height:35px;}
.headp-1-inp3-a { width:30px; height:28px; background-color:transparent; border:0px; cursor:pointer;}
/* k_bottom */
.k_bottom { margin-top:20px; width:100%; height:100px;  OVERFLOW: hidden;}
.k_bottom-1 { width:960px; height:80px; padding-top:20px; margin:auto;}
.k_bottom-2 { width:960px; height:25px; line-height:25px; color:#444; font-size:14px; font-weight:bold;}
.k_bottom-3 { width:960px; height:25px; line-height:25px; color:#444; }


/* gbook */
.xt-notice-box{width:960px; margin: 10px auto 10px;}
.xt-notice{
	color: #783f04;
	line-height: 24px;		
	padding: 10px 10px 10px 40px;
	border: 1px solid #e6d8b9;
	position: relative;
	background: url(bulb.gif) 7px center no-repeat #feffe6;
	border-radius: 2px;
	font-size: 13px;text-align:left;
	zoom:1;	
}	
	.xt-notice a{ color: #080; text-decoration: underline;} 		
	.xt-notice a:hover{ color: #f60; text-decoration: none;} 		
#SOHUCS #SOHU_MAIN #SOHU-comment-main .section-list-w strong.title-name-bg{
color:#fff;
}

